<header class="navbar navbar-expand fixed-top" [ngClass]="{'nav-shadow': isScroll}">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img height="40" src="/assets/images/logo_blue.svg" alt="nirmalrohit.com">
        <span>BLOG</span>
      </a>
    </div>
    <button type="button" class="menu-btn" [ngClass]="{'open': showMenu}" (click)="toggleMenu($event)">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="navbar navbar-menu flex-md-row" [ngClass]="{'navbar-dropdown': showMenu}" (click)="closeMenu($event)">
      <ul class="navbar-nav mr-auto navbar-nav-left">
        <li class="home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']">HOME</a>
        </li>
        <li *ngIf="auth.isLoggedIn()" [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/myposts/']" [queryParams]="{status: 'published'}">MY POSTS</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!auth.isLoggedIn()">
        <li [routerLinkActive]="['active']">
          <a routerLink="login">LOGIN</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="signup">SIGN UP</a>
        </li>
      </ul>
      <ng-container *ngIf="auth.isLoggedIn()">
        <ul class="nav navbar-nav navbar-right mobile-show">
          <li>
            <a routerLink="admin/profile">MY PROFILE</a>
          </li>
          <li>
            <a class="color" (click)="logout()">LOGOUT</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mobile-hide">
          <li>
            <a href="javascript:void(0)" class="user-avatar rounded-circle" [matMenuTriggerFor]="userMenu">
              <img *ngIf="auth.user.image" [src]="auth.user.image">
              <span>{{auth.user.name | userAvatarText}}</span>
            </a>
          </li>
        </ul>
        <mat-menu #userMenu="matMenu">
          <ul class="user-dropdown">
            <li>
              <a routerLink="admin/profile" class="d-flex">
                <div class="user-avatar rounded-circle align-self-center col">
                  <img *ngIf="auth.user.image" [src]="auth.user.image">
                  <span>{{auth.user.name | userAvatarText}}</span>
                </div>
                <div class="col">
                  <div class="uname">{{auth.user.name}}</div>
                  <div class="email small">{{auth.user.email}}</div>
                </div>
              </a>
            </li>
            <li>
              <a class="color" (click)="logout()">LOGOUT</a>
            </li>
          </ul>
        </mat-menu>
      </ng-container>
    </nav>
  </div>
</header>