<div class="container">
  <ng-container *ngIf="invalidUrl">
    <h1>Invalid url.</h1>
  </ng-container>
  <div class="row mr-t-lg " *ngIf="isValid">
    <div class="col-md-6 ml-md-auto mr-md-auto">
      <div class="card login-card">
        <div class="card-header">
          <h4>RESET PASSWORD</h4>
          <p class="text-muted small">Enter your new password below.</p>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="passwd" [type]="hide ? 'password' : 'text'" matInput placeholder="Password" required>
              <mat-error *ngIf="password.errors">
                <p *ngIf="password.errors.required">
                  <i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
                <p *ngIf="password.errors.minlength">
                  <i class="fa fa-exclamation-circle"></i> Short passwords are easy to guess. Try one with at least {{password.errors.minlength.requiredLength}}
                  characters.</p>
              </mat-error>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="passwd_again" [type]="hide ? 'password' : 'text'" matInput placeholder="Re type password" required>
              <mat-error *ngIf="passwordAgain.errors">
                <p *ngIf="passwordAgain.errors.required">
                  <i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
                <p *ngIf="passwordAgain.errors.MatchPassword">
                  <i class="fa fa-exclamation-circle"></i> These passwords don't match. Try again?</p>
                <p *ngIf="passwordAgain.errors.minlength">
                  <i class="fa fa-exclamation-circle"></i> Short passwords are easy to guess. Try one with at least {{passwordAgain.errors.minlength.requiredLength}}
                  characters.</p>
              </mat-error>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="form.invalid">RESET PASSWORD</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>