<div class="container">
  <div class="row mr-t-lg ">
    <div class="col-md-10 ml-md-auto mr-md-auto" *ngIf="success; else formContainer">
      <h1>RESET PASSWORD EMAIL SENT</h1>
      <h3 class="family-roboto-light">We've sent an email to
        <i class="text-brand">{{email.value}}</i>. Click the link in the email to reset your password.</h3>
    </div>
    <ng-template #formContainer>
      <div class="col-md-6 ml-md-auto mr-md-auto">
        <div class="card login-card">
          <div class="card-header">
            <h4>FORGOT YOUR PASSWORD</h4>
            <p class="text-muted small">
              Please enter your email address to retrevie your password.
              <br> We Will email you a link to change your password.
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <mat-form-field>
                <input formControlName="email" type="email" matInput placeholder="Email" required>
                <mat-error *ngIf="email.errors">
                  <p *ngIf="email.errors.required">
                    <i class="fa fa-exclamation-circle"></i> You can't leave this empty.</p>
                  <p *ngIf="!email.errors.required && email.errors.email">
                    <i class="fa fa-exclamation-circle"></i> Please enter correct email address.</p>
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="form.invalid">SEND EMAIL</button>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>